* {
    margin: 0;
    padding: 0;
}

header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(175, 13, 13);
    padding: 0 20px;
}

body {
    height: 100vh;
}

.futuretube {
    display: flex;
    align-items: center;
}

.videos-imagem {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 1px 1px red;
}

.videos-imagem p {
    background-color: rgb(179, 179, 179);
    padding: 10px;
    margin: 10px;
}

.img {
    width: 35px;
    padding: 0 10px;
}

.imagem {
    padding: 20px;
    height: 100%;
    width: 250px;
}

h2 {
    font-size: 2em;
    color: rgb(255, 255, 255);
}

input {
    width: 100px;
    padding: 10px;
    margin-right: 50px;
    text-align: center;
    border: none;
    outline: 0;
}

footer {
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(175, 13, 13);
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}