* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: mediumvioletred;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

main {
    flex-grow: 1;
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}