/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    border: 0 none;
    height: 20px;
    width: 400px;
    outline: 0;
    border-bottom: 1px solid rgb(0, 0, 0);
}

button:focus {
    color: white;
    outline: 0;
}

img {
    width: 100px;
}

div>p:first-child {
    display: inline;
}

div img {
    background: none;
}

.container {
    height: 500px;
    text-align: center;
    padding: 10px 0;
}

.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.icone {
    height: 16px;
    width: 16px;
}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
}

#container-de-descricao>ol {
    padding: 15px 0px;
}

#container-de-descricao {
    display: block;
}

#container-para-comprar {
    background-color: #e7eb90;
}

#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
    display: block;
}


/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {
    width: 65%;
    text-align: center;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 20%;
}

td img {
    width: 50px;
}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-size: 1.1em;
    color: black;
}

td button:hover {
    background-color: #bb9d1a;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.container-do-search {
    display: block;
    margin-top: 20px;
    height: 100px;
}

#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
}

#back-button:hover {
    background-color: #635a3d
}